n8n-workflow-nara-orcamento.json
{
  "name": "Nara Mendes - Pedido de Orçamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nara-orcamento",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook - Formulario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "nara-orcamento"
    },
    {
      "parameters": {
        "sendTo": "cantinhodanarusca@gmail.com",
        "subject": "=🍴 Novo pedido de orçamento — {{ $json.body.nome }} ({{ $json.body.tipo_evento || 'Evento' }})",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:620px;margin:0 auto;color:#2A2622;\">\n  <div style=\"background:#C9622D;color:#fff;padding:22px 26px;border-radius:14px 14px 0 0;\">\n    <h2 style=\"margin:0;font-size:20px;\">Novo pedido de orçamento</h2>\n    <p style=\"margin:6px 0 0;opacity:.9;font-size:14px;\">Nara Mendes Catering Luso-Brasileiro</p>\n  </div>\n  <div style=\"background:#F8F4ED;padding:26px;border:1px solid #eee;border-top:0;border-radius:0 0 14px 14px;\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:15px;\">\n      <tr><td style=\"padding:8px 0;color:#5E574E;width:180px;\">👤 Nome</td><td style=\"padding:8px 0;font-weight:bold;color:#2D4A3E;\">{{ $json.body.nome }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">📞 Telefone / WhatsApp</td><td style=\"padding:8px 0;font-weight:bold;color:#2D4A3E;\">{{ $json.body.telefone }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">✉️ Email</td><td style=\"padding:8px 0;\">{{ $json.body.email || '—' }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">🎉 Tipo de evento</td><td style=\"padding:8px 0;\">{{ $json.body.tipo_evento || '—' }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">📅 Data do evento</td><td style=\"padding:8px 0;\">{{ $json.body.data_evento || '—' }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">📍 Local</td><td style=\"padding:8px 0;\">{{ $json.body.local_evento || '—' }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;\">👥 Nº de convidados</td><td style=\"padding:8px 0;\">{{ $json.body.convidados || '—' }}</td></tr>\n      <tr><td style=\"padding:8px 0;color:#5E574E;vertical-align:top;\">🍽️ Serviços</td><td style=\"padding:8px 0;\">{{ ($json.body.servicos && $json.body.servicos.length) ? $json.body.servicos.join(', ') : '—' }}</td></tr>\n    </table>\n    <div style=\"margin-top:18px;padding:16px;background:#fff;border-left:4px solid #C9A24B;border-radius:0 8px 8px 0;\">\n      <strong style=\"color:#2D4A3E;\">Mensagem:</strong><br/>{{ $json.body.mensagem || '(sem mensagem)' }}\n    </div>\n    <a href=\"=https://wa.me/{{ ('351' + $json.body.telefone.replace(/\\D/g,'')).replace('351351','351') }}\" style=\"display:inline-block;margin-top:22px;background:#C9622D;color:#fff;text-decoration:none;padding:13px 24px;border-radius:100px;font-weight:bold;\">📲 Responder no WhatsApp</a>\n    <p style=\"margin-top:22px;font-size:12px;color:#8a8378;\">Origem: {{ $json.body.origem }} · Recebido: {{ $json.body.timestamp }}</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Enviar Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [560, 320],
      "credentials": {
        "gmailOAuth2": {
          "id": "SUBSTITUIR_CREDENCIAL_GMAIL",
          "name": "Gmail Nara"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"mensagem\": \"Pedido recebido com sucesso\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 320]
    }
  ],
  "connections": {
    "Webhook - Formulario": {
      "main": [
        [
          { "node": "Enviar Email (Gmail)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enviar Email (Gmail)": {
      "main": [
        [
          { "node": "Responder 200", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
